acceptance: AllDownstream
geometry : LHCb
energy: 13
pid : LHCbGenericPID
paramsDecaying : M, E, MT, ET, PT, vtxX, vtxY, vtxZ, origX, origY, origZ, IP, FD, eta, phi
paramsStable : M, E, MT, ET, PT, origX, origY, origZ, IP, eta, phi

@0
	name : B
	invisible : true
@1
	name : HN
   invisible: true
@2
	name : mu1
  smear : LHCbGeneric
    smear : LHCbGenericIP
@3
	name : mu2
	smear : LHCbGeneric
    smear : LHCbGenericIP
@4
	name : tau
	smear : LHCbGeneric
    smear : LHCbGenericIP
@5
	name : neutrino
	smear : LHCbGeneric
    smear : LHCbGenericIP

@6
	name : mu3
	smear : LHCbGeneric
    smear : LHCbGenericIP
    
@7
	name : neutrino2
	smear : LHCbGeneric
    smear : LHCbGenericIP
   
@8
	name : neutrino3
	smear : LHCbGeneric
    smear : LHCbGenericIP 
    
    

