acceptance: AllIn
geometry : LHCb
energy: 13
pid : LHCbGenericPID
paramsDecaying : M, E, MT, ET, PT, vtxX, vtxY, vtxZ, origX, origY, origZ, IP, FD, eta, phi
paramsStable : M, E, MT, ET, PT, origX, origY, origZ, IP, eta, phi
param: theta24 theta 2 4 3 4
param: costheta24 costheta 2 4 3 4 
@0
	name : B
@1
	name : Jpsi
   invisible: true
@2
	name : tau
  smear : LHCbGeneric
    smear : LHCbGenericIP
@3
	name : neutrino
	smear : LHCbGeneric
    smear : LHCbGenericIP
@4
	name : mu1
	smear : LHCbGeneric
    smear : LHCbGenericIP
@5
	name : mu2
	smear : LHCbGeneric
    smear : LHCbGenericIP
    
   